@use "mixins" as m;

.checkout {
    max-width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;


    &__formcontainer {
        height: 100vh;


    }

    &__cartcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f4f3ee;
        height: 90vh;
        margin-top: 60px;
        padding-top: 20px;
    }

    &__total {
        margin-top: 40px;
        font-weight: bolder;
        font-size: 18px;
    }
}