@use "mixins" as m;

.checkout {
  max-width: 1024px;
  margin: auto;
  display: grid;
  grid-template-columns: 60% 40%;

  &__formcontainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    input {
      width: 100%;
      background-color: rgb(250, 249, 249);
      border: 0.3px solid grey;

      border-radius: 25px;
      text-align: center;
      height: 35px;
      margin-bottom: 6px;
      @include m.desktop {
        height: 50px;
        font-size: 22;
      }
    }
  }
  &__formcontainer__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  &__form__namecontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include m.desktop {
      flex-direction: row;
    }
  }
  &__form__citycontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include m.desktop {
      flex-direction: row;
    }
  }
  &__form__button {
    padding: 15 10 15 10;
    background-color: m.$green;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    @include m.desktop {
      padding: 25 40 25 40;
    }
  }

  &__cartcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f3ee;
    height: 90vh;
    margin-top: 60px;
    padding-top: 20px;
  }

  &__total {
    margin-top: 40px;
    font-weight: bolder;
    font-size: 18px;
  }
}
