@use "mixins" as m;
.contactmain {
  height: 95vh;
  * {
    transition: all 0.2s linear;
  }
  max-width: 1024px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-top: 40px;
  }
  p {
    margin: 10 0 10 0;
    text-align: center;
    @include m.desktop {
      margin: 20 0 20 0;
    }
  }
}
.form {
  width: 80%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    border: 1px solid m.$border;
    padding: 10px 15px;
    margin: 0 0 2 0;
    border-radius: 10px;
    width: 100%;
    @include m.desktop {
      margin: 0 0 10 0;
      width: 50%;
    }
    input:focus {
      border: 1px solid #000;
    }
  }

  &__message {
    text-align: initial;
    margin-top: 5px;
    width: 100%;
    min-height: 50%;
    padding: 10px;
    border: 1px solid m.$border;
    border-radius: 10px;
    @include m.desktop {
      width: 450px;
    }
  }
  &__submitbutton {
    @include m.button;
    padding: 20 40 20 40px;
    margin-top: 10px;
    @include m.desktop {
      padding: 20 60 20 60;
    }
  }
}
