@use "mixins" as m;

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 200px;
    gap: 10px;
    h2 {
        font-size: xx-large;
        margin-bottom: 15px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        margin: 0 10px 0 10px;
        border-bottom: 1px solid black;
        text-align: left;
        width: 90%;
        @include m.desktop {
            width: 40%;
        }
        .faq__questionLine {
            display: flex;
            cursor: pointer;
            width: 100%;
            font-weight: bold;
            margin-bottom: 10px;
            i {
                margin-left: auto;
            }
        }
        .faq__answerLine {
            display: none;
            width: 100%;
        }
        .visible {
            display: block;
            margin-bottom: 10px;
        }
    }
}