@use "mixins" as m;
.faq {
    display: flex;
    flex-direction: column;
    justify-items: baseline;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        gap: 10px;
        border: 1px solid gray;
        .faq__questionLine {
            cursor: pointer;
        }
        @include m.desktop {
            width: 40%;
        }
        .faq__answerLine {
            display: none;
        }
        .visible {
            display: block;
        }
    }
}

p {
    font-size: x-large;
}

h2 {
    font-size: xx-large;
    margin-bottom: 50px;
}