@use "mixins" as m;

footer {
    display: flex;
    height: 30vh;
    width: 100%;
    background-color: m.$green;
    
    @include m.desktop {
        flex-direction: row;
       }
}

.logo {
    width: 30%;
    height: 10vh;
    background-image: url(./../assets/logo-no-background.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;

    @include m.desktop {
        width: 12%;
        height: 10vh;
       
    }

    &__image {
        width: 100%;
        padding: 20px;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;

    @include m.desktop {
        flex-direction: row;
        text-align: left;
        width: 100%;
       
    }

    &__list {
        color: white;
        list-style-type: none;
        font-size: 16px;
        padding: 5px 0;
        line-height: 25px;

        @include m.desktop {
            margin: 0 60px;
        }
    }

    &__item {
        padding-top: 10px;
    }
}

.social {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 10px;

    &__icon {
        padding: 5px;
        color: white;
        font-size: 20px;
    }
}
