// Colors

$green: #4a5240;
$background: #f4f3ee;
$border: #ccc;

// Font

// Button
@mixin button {
  border: none;
  border-radius: 5px;
  font-weight: 600;
  padding: 10px;
  font-family: "DM Sans";
  font-size: 16px;
  background-color: $green;
  color: white;
  cursor: pointer;
}
// Breakpoints

@mixin desktop {
  @media screen and (min-width: 826px) {
    @content;
  }
}
