@use "mixins" as m;

a {
  text-decoration: none;
  color: black;
}

.main {
  max-width: 1000px;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;
  justify-content: baseline;
  // border: 1px solid pink;
  margin: auto;
  &__menu {
    margin-top: 120px;
    border-right: 1px solid grey;
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
  &__menu__heading {
    margin-bottom: 7px;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  &__menu__item {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 4px;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  &__products {
    margin-top: 60px;
    border: 1px solid blue;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.product {
  &__headingcontainer {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    height: 150px;
    width: 100%;
    margin-top: 6%;
  }
  &__innercontainer {
    // border: 1px solid pink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20;
    justify-content: center;
    max-height: 80vh;
    overflow: auto;
  }
}

.card {
  &__link {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  width: 220px;
  @include m.desktop {
    width: 220px;
  }
}
  &__image {
    &:hover {
      opacity: 70%;
      transition: 0.4s;
      cursor: pointer;
    }
  }

  &__button {
    border: none;
    background-color: #4a5240;
    color: white;
    padding: 10px;
    margin-top: 5px;
    font-family: "DM Sans";
    font-size: 16px;
    cursor: pointer;
  }

  &__h5,
  h6 {
    padding: 5px 0;
    font-family: "DM Sans";
    font-size: 12px;
  }
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal {
  overflow: hidden;
  top: 50%;
  left: 50%;
  width: 75vw;
  height: 800px;
  margin-left: -37.5vw;
  margin-top: -40vh;
  border: 0;
  box-shadow: 0 0 1em rgb(0 0 0 /.3);
  .productDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    &__closeButton {
      position: absolute;
      top: 3px;
      left: 8px;
      background: none;
      border: none;
      font-size: 40px;
      cursor: pointer;
    }
    &__imageContainer {
      max-width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 600px;
      img {
        height: 90%;
        box-shadow: 0 0 1em rgb(0 0 0 /.3);
      }
    }
    &__infoContainer {
      max-width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 300px;
      .productDisplay__name {
        font-size: 50px;
      }
      .productDisplay__brand {
        font-size: 30px;
      }
      .productDisplay__description {
        font-size: large;
        margin: 20 0 20 0;
      }
      .productDisplay__price {
        font-size: 30px;
      }
      .productDisplay__button {
        border: none;
        width: 60%;
        height: 6%;
        background-color: #4a5240;
        color: white;
        padding: 10px;
        margin-top: 5px;
        font-family: "DM Sans";
        font-size: 16px;
        cursor: pointer;
      }
    }
  }
}