@use "mixins" as m;

.main {
  max-width: 1400px;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 75%;
  justify-content: center;
  margin: auto;
  &__menu {
    border: 1px solid blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    li {
      list-style: none;
    }
  }
  &__products {
    border: 1px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__daycreamcontainer {
    border: 1px solid red;
    height: 50px;
  }
  &__bodycontainer {
    border: 1px solid blue;
    height: 50px;
  }
  &__list {
    display: none;
  }
  &__list.active {
    display: flex;
    flex-direction: column;
  }
}

.product {
  &__headingcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    height: 150px;
    width: 100%;
    margin-top: 6%;
  }
  &__innercontainer {
    border: 1px solid pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 20px 0;

  @include m.desktop {
    width: 220px;
  }

  &__image {

  &:hover {
    opacity: 70%;
    transition: 0.4s;
  }
}

  &__button {
    border: none;
    background-color: #4a5240;
    color: white;
    padding: 10px;
    margin-top: 5px;
    font-family: 'DM Sans';
    font-size: 16px;
  }

  &__h5, h6 {
    padding: 5px 0;
    font-family: 'DM Sans';
    font-size: 12px;
  }

}